/* Estilos do Rodapé */
footer {
  background-color: rgb(252, 157, 175);
    color: #fff;
    padding: 20px 0;
    margin-top: auto; /* Faz com que o footer sempre fique no final da tela */
    box-sizing: border-box;
    width: 100%; /* O footer ocupa toda a largura */
    position: relative;
    z-index: 10;
  }
  
  footer .line-footer1 {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 40px;
  }
  
  .line-footer1 h2 {
    font-size: 2rem;
  }
  
  .line-footer1 p {
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
  }
  
  .line-footer1 form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line-footer1 form input[type="text"] {
    width: 300px;
    height: 40px;
    background: transparent;
    border: 2px solid floralwhite;
    color: #fff;
    padding: 10px;
    outline: 0;
  }
  
  .line-footer1 form input[type="submit"] {
    width: 80px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 0;
    color: #000000;
    cursor: pointer;
    transition: 0.6s;
  }
  
  .line-footer1 form input[type="submit"]:hover {
    background-color: pink;
    color: #ffffff;
  }
  
  footer .line-footer2 {
    padding: 40px 10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  footer .line-footer2 .box-line-footer {
    max-width: calc(100% / 4);
  }
  
  footer .boxline-footer img {
    max-width: 200px;
    border-radius: 50%;
  }
  
  .btn-redes a button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 30%;
    font-size: 30px;
    transition: 0.8s;
  }
  
  .btn-redes a button:hover {
    background-color: #ff63a5;
  }
